---
layout: layout
title: "NiuNiu's life style"
---
<html lang="zh-cn">
  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>NiuNiu's Life style</title>

  <!-- Bootstrap -->
  <link href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
  </head>

  <body>
      <nav class="navbar navbar-default" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#jb-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ HOME_PATH }}">{{ site.title }}</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="jb-navbar-collapse">
          <ul class="nav navbar-nav">
            {% assign pages_list = site.pages %}
            {% assign group = 'navigation' %}
            {% include JB/pages_list %}
          </ul>
          <form class="navbar-form navbar-right" role="search">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
          </form>
        </div><!-- /.navbar-collapse -->
      </nav>
  {% for post in site.posts offset: 0 limit: 50 %}
  <div class="row">
    <div class="span7">    
      <div class="row">
        <div class="span5">
          <div class="container">
            <div class="col-xs-10">
		          <h4><strong><a href="{{ post.url }}">{{ post.title }}</a></strong></h4>      
              <p>{{ post.summary }}</p>
		          <p>
              <i class="icon-calendar"></i> {{ post.date | date: "%B %e, %Y" }}
              </br>
              <i class="icon-comment"></i> <a href="http://ouyanggh.github.com{{ post.url }}#disqus_thread" data-disqus-identifier="{{ post.url }}"></a>     
              </br>
		          <i class="icon-tags"></i> Tags :{% for tag in post.tags %} <a href="/tags/{{ tag }}" rel="tooltip" title="View posts tagged with &quot;{{ tag }}&quot;"><span class="label label-info">{{ tag }}</span></a>  {% if forloop.last != true %} {% endif %} {% endfor %}		            
              </p>
              <p><a href="{{ post.url }}">Read more</a></p>
            </div>
          </div>    
	        <hr>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}	

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  </body>
</html>

